* {
    box-sizing: border-box;
}

header#site-header {
  border-bottom: 1px solid #DCE3DC;
  background:#FFFFFF;

}
.meny {
  display: grid;
  grid-template-columns: auto auto 1fr;  /* nav | info | title */
  column-gap: 3rem;
  align-items: center;
  padding: 0.5rem 80px;
  
  /*border-bottom: 1px solid #DCE3DC;
  background:#FFFFFF;
  */
}

.meny p{
    white-space: nowrap;
    margin:0;
    font-size:0.9rem;
}
header{
    height: auto;
}
body{
    background-color: #FBF6EF;
    color: #4B4A42;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

.toffee-image{
    width: 400px;
    height: auto;
}

.textbox1{
    width: 90%;
    max-width: 1500px;
    margin: 1 auto;
    padding: 20px;

}
.box1{
    border: 1px solid #6F8F78;
    border-radius: 15px;
    margin: 10px;
}
.box2{
    border: 1px solid #6F8F78;
    border-radius: 15px;
    margin: 10px;
}

.textbox2{
    width: 90%;
    max-width: 1500px;
    margin: 1rem auto;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}
.box3{
    border: 1px solid #6F8F78;
}

h2{
    font-weight: 500;
    color: #3A3A2C;
}

h1{
    font-weight: 500;
    color: #4A6B53;
}

h3{
    font-weight: 500;
    color: #4A6B53;
}
p{
    color: #4a6b53;
}

li{
    color: #4A6B53;
    color: #4A6B53;
}

li{
    color: #4A6B53;

}


footer{
    color: black;
}
.info{
    display: flex;
    gap:2rem;
    width: 100%;
    justify-content:center;
}

.nav-grid{
    background-color: white;
    /*border: solid 1px #6F8F78;*/
    display: grid;
    grid-template-columns:auto auto;
    column-gap:0px;
    row-gap:0px;
    margin:0;
    padding:0;
    list-style-type: none;
    margin-top:-3px;
}
.nav-grid li{
    padding: 1px 15px 1px 16px;
}
.nav-grid li:nth-child(even){
    padding-left: 1rem;
    border-left: 2px solid #6F8F78;

}

.meny h1{
    white-space: nowrap;
}

.nav-grid a{
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    color: #5A7462;
    text-decoration: none;
}
.nav-grid a:hover{
    color: #3A3A2C;
}

/*navbar*/

.nav-toggle { display: none; }

.nav-grid a[aria-current="page"] {
  font-weight: 600;
}

@media (max-width: 700px) {
  .nav-toggle {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #5A7462;
    cursor: pointer;
  }
  .nav-grid { display:none;}
  .nav-grid.open { display: grid; }

}

a:focus, button:focus, input:focus {
  outline: 3px solid #3A3A2C;
  outline-offset: 2px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
