body{
    background-color: #EEF3EE;
    color: #4B4A42;
    font-family: "Nunito", sans-serif;
}

.toffee-image{
    width: 400px;
    height: auto;
}

.textbox1{
    width: 90%;
    max-width: 1500px;
    margin: 1 auto;
    padding: 20px;

}
.box1{
    border: solid #FAF8F3;
    border-radius: 15px;
    margin: 10px;
}
.box2{
    border: solid #FAF8F3;
    border-radius: 15px;
    margin: 10px;
}

.textbox2{
    width: 90%;
    max-width: 1500px;
    margin: 1 auto;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
}
.box3{
    border: solid #FAF8F3;
}

h2{
    font-weight: 500;
    color: #4B4A42;
}

h1{
    font-weight: 500;
    color: #6F8F78;
}

h3{
    font-weight: 500;
    color: #4B4A42;
}
p{
    color: #6F8F78;
}